.about-us{
	background: #23a9f2;
	color: white;
	height: auto;
	padding-top: 30px;
	padding-bottom: 60px;
}

.textos-about-us{
	grid-column: 1/-1;
	text-align: center;
}

.text-about-us .parrafo{
	margin-top: 10px;
	color: #ccc;
}




