.contenedor-form{
	padding: 60px;
	margin: 80px; 
	text-align: center;
	background-color: rgba(101,195,246,0.3);
}

.control{
	padding: 8px;
	border-radius: 8px;
	margin-bottom: 4px;
}
.btn-color{
	width: 130px;
	color: white;
	background: #23a9f2;
	display: inline-block;
	text-align: center;
	padding: 10px 0;
	text-decoration: none;
	border: 2px solid black;
	margin-top: 8px;
}

.btn-color:hover{
	color: black;
	background: rgba(101,195,246,0.3);
	border: 2px solid #23a9f2;
}