	@import url(menu.css);
@import url(banner.css);
@import url(services.css);
@import url(about_us.css);
@import url(mission.css);
@import url(footer.css);
@import url(forms.css);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



@media (min-width: 1024px){
	.container{
		width: 1000px;
	}
}



/*------------------------------------------*/

.grid{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	width: 90%;
	max-width: 1100px;
	height: 100%;
	margin: auto;
	gap:10px;
	overflow: hidden;
	align-items: center;
}

.weigth-400{
	font-weight: 400;
}

.weigth-600{
	font-weight: 600;
}

.parrafo{
	margin-bottom: 20px;
}


/*para el responsive*/

@media screen and (max-width: 800px){
	.banner{
		margin-top: 60px;
		height: auto;
	}
	.grid{
		grid-gap: 30px;
	}
	.img-hero, .textos-hero{
		grid-column: 1/-1;
	}
	.img-hero{
		text-align: center;
	}

	.textos-hero{
		margin-top: 40px;
	}

	.services{
		height: auto;
		margin-top: 40px;
	}

	.item{
		width: 60%;
		margin: 40px 0	;
		height: auto;
		padding: 40px;
	}

	.img-mission{
		grid-column: 1/-1;
		grid-row: 2/3;
		text-align: center;
	}

	.textos-mission{
		grid-column:1/-1;
		grid-row:1/2;
		align-self: center;
	}

}

@media screen and (max-width: 400px){
	.img{
		max-width: 170px;
	}

	.grid{
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	}

	.item{
		width: 90%;
		flex-shrink: 0;
	}

	[class^="footer-item"]{  /*Selector de clases para los iconos*/
	grid-column: 1/-1;
}
}
