.services{
	height: 370px;
	background: linear-gradient(180deg, white 30%, #23a9f2 50%);
}

.items{
	grid-column: 1/-1;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-evenly;
	text-align: center;
	flex-wrap: wrap;
}

.item{  /* COMBAK:  diseño del cuatros de igm */
	width: 30%;
	background: white;
	box-shadow: 0 0 8px rgba(101,195,246,0.3);
	overflow: hidden;
	height: 220px;
	padding: 20px 10px;
	text-align: center;
}

[class^="fab fa"]{  /*Selector de clases para los iconos*/
	font-size: 50px;
	text-align: center;
}

.item [class^="fas fa"]{  /*Selector de clases para los iconos*/
	font-size: 50px;
	text-align: center;
}
